.contacts-search {
    display: flex;
    // position: sticky;
    // bottom: 0;
    // right: 0;

    .icon-container:not(:last-of-type) {
        margin-right: var(--extra-small-space);
    }

    .input {
        width: 100%;
    }
}