.header {
    background-color: var(--color-white-elements);
    height: var(--header-height);
    box-shadow: 0 4px 10px 0px rgba(var(--color-shadow), var(--color-shadow-opacity));
    display: flex;
    justify-content: center;
    align-items: center;

    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__logo {
        display: flex;
        align-items: center;

        h1 {
            font-size: 2.5rem;
            margin-left: 1rem;
            color: var(--color-black-elements);
        }
    }

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-grey);
        padding: 1.5rem;
        border-radius: var(--border-radius);

        .icon-container {
            &:not(:last-child) {
                margin-right: var(--small-space);
            }
        }
    }

    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
    }
}