@use '../abstracts/mixins';

.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-color: rgba(var(--color-shadow), 0.4);
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all .3s ease-in;
    cursor: pointer;

    &.active {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        
        @media screen and (min-width: 1200px) {
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
            display: none;
        }
    }
}