@use '../abstracts/mixins';

.toPost {
    background-color: var(--color-grey);
    display: flex;
    align-items: center;
    margin-top: var(--medium-space);
    border-radius: var(--border-radius);
    padding: var(--padding-small);

    .btn {
        margin-right: 1rem;
        @include mixins.desktop-first-media-query(small) {
            margin-right: 0;
        }
    }

    .image {
        @include mixins.desktop-first-media-query(small) {
            display: none;
        }
    }

    .icon-container {
        @include mixins.desktop-first-media-query(small) {
            &:not(:first-of-type) {
                display: none;
            }
        }
    }

    .input {
        height: 4rem;
        width: 100%;
    }
}