@mixin custom-scrollbar {
    &::-webkit-scrollbar {
        width: 7px;
    }
      
      /* Track */
    &::-webkit-scrollbar-track {
        background: var(--grey);
    }
      
      /* Handle */
    &::-webkit-scrollbar-thumb {
        background: var(--secondary-light);
    }
      
      /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: var(--grey-dark);
    }
}