:root {
    //Colors
    --color-primary: #CB134A;
    --color-primary-light: #f11e5d;
    --color-primary-dark: #b30f40;
    --color-secondary: #303F58;
    --color-secondary-light: #5C697E;
    --color-secondary-dark: #182130;
    --color-white-text: #FFFFFF;
    --color-white-elements: #FFFFFF;
    --color-grey: #b6b6b6;
    --color-grey-dark: #7e7e7e;
    --color-shadow: 0, 0, 0;
    --color-shadow-opacity: 0.3;

    // Sizes
    --header-height: 10rem;
    --icon-size: 4rem;
}