.header {
    background-color: var(--color-white-elements);
    color: var(--color-black-text);
    height: var(--header-height);
    box-shadow: 0 4px 10px 0px rgba(var(--color-shadow), var(--color-shadow-opacity));
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: sticky;
    top: 0;
    left: 0;

    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__logo {
        display: flex;
        align-items: center;
        
        svg {
            & > :first-child {
                fill: var(--color-primary);
            }
        }

        h1 {
            margin-left: 1rem;
        }
    }

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-grey);
        padding: 1.5rem;
        border-radius: var(--border-radius);

        .icon-container {
            &:not(:last-child) {
                margin-right: var(--small-space);
            }
        }
    }

    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
    }
}