:root {
    //Colors
    --primary: #CB134A;
    --primary-light: #f11e5d;
    --primary-dark: #b30f40;
    --secondary: #303F58;
    --secondary-light: #5C697E;
    --secondary-dark: #182130;
    --white-text: #FFFFFF;
    --white-elements: #FFFFFF;
    --grey: #b6b6b6;
    --grey-dark: #7e7e7e;
    --shadow: 0, 0, 0;
    --shadow-opacity: 0.3;

    // Sizes
    --header-height: 10rem;
    --icon-size: 4rem;

    // Media Queries
    
}